html, body, #app {
  height: 100%;
  background-color: #f8f8f9;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.color_warn{
  color: #ff9900;
}

.color_primary{
  color: #2d8cf0;
}
