//颜色
$background-color-dark: #262628;
$background-color: #333335;
$background-color-lighter: #444346;
$background-color-highlight-blue: #0356a3;
$border-color: #464646;
$text-color-normal: #cacaca;
$text-color-light: #eaeaea;

//尺寸
$grid-height-small: 30px;
$grid-height-normal: 40px;
$grid-height-large: 50px;

// 阴影
$shadow-normal: 0 0 10px rgba(0, 0, 0, 0.5);
