//颜色
$background-color-dark: #262628;
$background-color: #333335;
$background-color-lighter: #444346;
$background-color-highlight-blue: #0356a3;
$background-color-mask: rgba(0, 0, 0, 0.6);
$border-color: #464646;
$text-color-normal: #cacaca;
$text-color-light: #eaeaea;
$common-color-primary: hsl(210, 100%, 62.5%);
$common-color-info: hsl(220, 4.2%, 58.2%);
$common-color-success: hsl(100, 54%, 49.4%);
$common-color-warning: hsl(36, 77.3%, 56.9%);
$common-color-danger: hsl(0, 87.3%, 69.2%);
$common-color-primary-light: hsl(210, 100%, 72.5%);
$common-color-info-light: hsl(220, 4.2%, 68.2%);
$common-color-success-light: hsl(100, 54%, 59.4%);
$common-color-warning-light: hsl(36, 77.3%, 66.9%);
$common-color-danger-light: hsl(0, 87.3%, 79.2%);
//尺寸
$grid-height-small: 30px;
$grid-height-normal: 40px;
$grid-height-large: 50px;

// 阴影
$shadow-normal: 0 0 10px rgba(0, 0, 0, 0.5);
